<div class="container">
  <button class="btn btn-info" type="button" [routerLink]="['/patient']">
    Add Patient
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">ID Type</th>
        <th scope="col">EPS</th>
        <th scope="col">Clinic History</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <th scope="row">{{ patient.idPatient }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.dateOfBirth }}</td>
        <td>{{ patient.idType }}</td>
        <td>{{ patient.eps }}</td>
        <td>{{ patient.clinicHistory }}</td>
        <td>
          <button
            type="button"
            name="button"
            class="btn btn-primary"
            [routerLink]="['/patient', patient.idPatient]"
          >
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete(patient)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
