<body>
  <header>
    <app-nav-bar></app-nav-bar>
    <section id="main-header" class="py-2 bg-info text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fas fa-user-cog"></i> Doctor's Control</h1>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a
            href="#"
            class="btn btn-primary btn-block"
            data-toggle="modal"
            data-target="#addDoctor"
            [routerLink]="['/doctor']"
          >
            <i class="fas fa-plus"></i> Add Doctor
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="doctors">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h4>Doctor's List</h4>
            </div>
            <div>
              <table class="table table-stryped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">ID Type</th>
                    <th scope="col"># Professional Card</th>
                    <th scope="col">Years Experience</th>
                    <th scope="col">Specialty</th>
                    <th scope="col">Attention Start</th>
                    <th scope="col">Attention End</th>
                    <th scope="col" colspan="2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doctor of doctors">
                    <th scope="row">{{ doctor.idDoctor }}</th>
                    <td>{{ doctor.doctorsName }}</td>
                    <td>{{ doctor.idType }}</td>
                    <td>{{ doctor.numberProfessionalCard }}</td>
                    <td>{{ doctor.yearsExperience }}</td>
                    <td>{{ doctor.specialty }}</td>
                    <td>{{ doctor.attentionStartTime }}</td>
                    <td>{{ doctor.attentionEndTime }}</td>
                    <td>
                      <button
                        type="button"
                        name="button"
                        class="btn btn-primary"
                        [routerLink]="['/doctor', doctor.idDoctor]"
                      >
                        <i class="fas fa-angle-double-right"></i> Edit
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="delete(doctor)">
                        <i class="fas fa-angle-double-right"></i> Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
