<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="#" class="navbar-brand">Check-Appointment's</a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="patient.component.html" class="nav-link active">Angular</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3">
            <a href="patient.component.html" class="nav-link">
              <i class="fas fa-user"></i>
              <span> Bienvenido</span>
            </a>
          </li>
          <li class="nav-item">
            <form>
              <a href="#" class="nav-link">
                <i class="fas fa-user-times"></i> Logout
              </a>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="main-header" class="py-2 bg-info text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fas fa-user-cog"></i> Doctor's Control</h1>
        </div>
      </div>
    </div>
  </section>
</header>
<section>
  <div class="py-4 mb-4 bg-light" id="actions">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="/" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Back
          </a>
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-success btn-block"
            role="button"
            (click)="create()"
            *ngIf="!doctor.idDoctor; else elseBlock"
          >
            <i class="fas fa-check"></i> Save
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-success" role="button" (click)="update()">
              Update
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <form>
    <section>
      <div id="details">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card col-md-10">
                <div class="card-header">
                  <h4>Edit Doctor</h4>
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <label for="id" class="col-form-label col-md-3"
                      >ID Doctor</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        name="id"
                        [(ngModel)]="doctor.idDoctor"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="name" class="col-form-label col-md-3"
                      >Name</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        [(ngModel)]="doctor.doctorsName"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="idType" class="col-form-label col-md-3"
                      >ID Type</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        name="idType"
                        [(ngModel)]="doctor.idType"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="numberProfessionalCard"
                      class="col-form-label col-md-3"
                      ># Professional Card</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        name="numberProfessionalCard"
                        [(ngModel)]="doctor.numberProfessionalCard"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="yearsExperience" class="col-form-label col-sm-3"
                      >Years Experience</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="number"
                        class="form-control"
                        name="yearsExperience"
                        [(ngModel)]="doctor.yearsExperience"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="specialty" class="col-form-label col-md-3"
                      >Specialty</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        name="specialty"
                        [(ngModel)]="doctor.specialty"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="attentionStartTime"
                      class="col-form-label col-md-3"
                      >Attention Start Time</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="number"
                        class="form-control"
                        name="attentionStartTime"
                        [(ngModel)]="doctor.attentionStartTime"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="attentionEndTime"
                      class="col-form-label col-md-3"
                      >Attention End Time</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        name="attentionEndTime"
                        [(ngModel)]="doctor.attentionEndTime"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</section>
