<header>
  <app-nav-bar></app-nav-bar>
</header>

<div class="col-md-3"></div>
<body>
  <div class="container">
    <!-- Show Case -->
    <header class="showcase">
      <h2>Big News Today</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, reiciendis
        voluptatum quibusdam non dolorem nulla eum laborum, maxime repudiandae
        nisi, sed facilis. Repellat, illo modi quas culpa ducimus laboriosam
        eaque.
      </p>
      <a href="#" class="btn"
        >Show More<i class="fas fa-angle.double.right"></i
      ></a>
    </header>

    <!-- News Cards-->
    <div class="news-cards">
      <div>
        <img src="../../assets/img/news1.jpg" alt="News 1" />
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, in
          aperiam. Magnam sit mollitia tempora soluta, quo nobis? Deserunt,
          repellendus.
        </p>
        <button
          type="button"
          name="button"
          class="btn btn-primary"
          [routerLink]="['/patient/findAll']"
        >
          <i class="fas fa-angle-double-right"></i> Patient's
        </button>
      </div>

      <div>
        <img src="../../assets/img/news2.jpg" alt="News 2" />
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, in
          aperiam. Magnam sit mollitia tempora soluta, quo nobis? Deserunt,
          repellendus.
        </p>
        <button
          type="button"
          name="button"
          class="btn btn-primary"
          [routerLink]="['/doctor/findAll']"
        >
          <i class="fas fa-angle-double-right"></i> Doctor's
        </button>
      </div>

      <div>
        <img src="../../assets/img/news3.jpg" alt="News 3" />
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, in
          aperiam. Magnam sit mollitia tempora soluta, quo nobis? Deserunt,
          repellendus.
        </p>
        <button
          type="button"
          name="button"
          class="btn btn-primary"
          [routerLink]="['/appointment/findAll']"
        >
          <i class="fas fa-angle-double-right"></i> Appointment's
        </button>
      </div>
    </div>

    <section class="cards-banner-two">
      <div class="content">
        <h2>Lorem, ipsum dolor.</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam non
          reprehenderit modi, odio alias illum veritatis atque cum provident
          eaque.
        </p>
        <a href="#" class="btn"
          >Contact Us!!! <i class="fas fa-angle-double-right"></i
        ></a>
      </div>
    </section>
  </div>

  <footer class="footer">
    <section class="social">
      <p>Follow EstevezNews</p>
      <div class="links">
        <a href="https://www.facebook.com/juancarlos.estevezvargas.98">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/juankestevez/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/Juan-Carlos-Estevez-Vargas">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
  </footer>
</body>
